<template lang="slm">
  #reports
    .ui.three.column.doubling.stackable.grid.container
      .ui.inverted.dimmer :class="{ active: loading }"
        .ui.loader

      tasks [
        color="red"
        title="Вчера"
        time_title="Потрачено часов"
        :date="yesterday"
        :tasks="tasks_done"
        :status="done_status"
      ]

      tasks [
        color="green"
        title="Сегодня"
        :date="today"
        :tasks="tasks_todo"
        :status="todo_status"
      ]

      tasks [
        color="blue"
        title="Бэклог"
        :tasks="tasks_backlog"
        :status="backlog_status"
      ]

    .ui.basic.center.aligned.segment
      button.ui.primary.button [
        :class="{ loading: sending_report, disabled: !sendable }"
        @click="send_report"
      ] Отправить
</template>

<script>
import { mapState } from 'vuex'
import { mapGetters } from 'vuex'
import Tasks from './tasks.vue'
import * as moment from 'moment'

moment.locale('ru')

function format_date(date) {
  return date.format('D MMMM YYYY')
}

export default {
  data: function () {
    return {
      loading: true,
      sending_report: false,
      today: format_date(moment()),
      yesterday: format_date(moment().subtract(1, 'days'))
    }
  },
  methods: {
    send_report () {
      this.sending_report = true

      this.$store.dispatch('send_report', this.$route.params.id).then(() => {
        this.sending_report = false
      })
    }
  },
  created () {
    this.$store.dispatch('fetch_report', this.$route.params.id).then(() => {
      this.loading = false
    })
  },
  computed: {
    ...mapState(
      [
        'sendable',
        'done_status',
        'todo_status',
        'backlog_status'
      ]
    ),
    ...mapGetters(
      [
        'tasks_done',
        'tasks_todo',
        'tasks_backlog'
      ]
    )
  },
  components: {
    tasks: Tasks
  }
}
</script>
