<template lang="slm">
  .column
    .ui.raised.segment
      a.ui.ribbon.label :class="[color]"
        | {{ title }}
      strong
        | {{ date }}
      button.circular.ui.icon.button.right.floated @click="new_task"
        i.add.plus.icon

      form.ui.form [
        v-if="form_visible"
        @submit.prevent="create_task"
        :class="{ loading: loading }"
      ]
        .field
          textarea [
            rows="3"
            placeholder="Описание задачи"
            v-model="description"
            @keyup.esc="form_visible = false"
          ]
        .inline.fields
          label
            | {{ time_title }}
          .four.wide.field
            input type="text" v-model.number="time_wasted"
          .field
            input.ui.submit.button type="submit" value="Записать"

    template v-for="task in tasks"
      task :task="task" :color="color"
</template>

<script>
import Task from './task.vue'

export default {
  props: {
    tasks: Array,
    color: {
      type: String,
      default: 'red'
    },
    title: String,
    date: String,
    status: {
      type: Number,
      required: true
    },
    time_title: {
      type: String,
      default: 'Оценка, часов'
    }
  },
  data: function () {
    return {
      loading: false,
      form_visible: false,
      description: '',
      time_wasted: null
    }
  },
  methods: {
    new_task () {
      this.form_visible = !this.form_visible
    },
    create_task () {
      this.loading = true

      const task = {
        description: this.description,
        time_wasted: Number(this.time_wasted),
        status: this.status
      }

      const payload = {
        report_id: this.$route.params.id,
        task
      }

      this.$store.dispatch('create_task', payload).then(() => {
        this.clear_fields()
        this.form_visible = false
        this.loading = false
      })
    },
    clear_fields: function () {
      this.description = ''
      this.time_wasted = null
    }
  },
  components: {
    task: Task
  }
}
</script>
