<template lang="slm">
  .ui.fluid.card :class="[color]"
    .ui.dimmer :class="{ active: loader }"
      .ui.loader
    .content
      .right.floated.meta v-if="task.time_wasted"
        | {{ task.time_wasted }} ч
      a href="#" @click="remove" v-if="is_author"
        i.trash.icon

    .content
      a style="white-space: pre-line"
        | {{ task.description }}

    .extra.content
      .ui.transparent.left.icon.input style="width: 300px"
        i.write.outline.icon
        input placeholder='Оставить Комментарий...' type='text'
</template>

<script>
export default {
  data: function () {
    return {
      loader: false
    }
  },
  props: ['task', 'color'],
  methods: {
    remove: function () {
      this.loader = true

      this.$store.dispatch('delete_task', this.task.id).then(() => {
        this.loader = false
      })
    }
  },
  computed: {
    is_author () {
      return this.$store.state.current_user_id == this.task.user_id
    }
  }
}
</script>
