doctype html
html
  head
    title Отчёты
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = yield :vue_app

  body
    .ui.secondary.pointing.menu
      = link_to 'Отчёты', root_path, class: 'item active'
      = link_to 'Мой отчёт', reports_path, method: :post, class: 'item'
      .right.menu
        - if user_signed_in?
          a.item
            = current_user.email
          = link_to 'выйти', destroy_user_session_path, method: :delete, class: 'ui item'

    #content.ui.basic.segment
      - if notice
        .ui.info.message ref='message'
          i.close.icon @click="close"
          = notice

      - if alert
        .ui.negative.message ref='message'
          i.close.icon @click="close"
          = alert

      = yield

